.read-more {
    width: 140px;
    height: 50px;
    background: $test-4;
    border: none;
    background: none;
    color: $red;
    font-size: $M;
    @include flex-between(row);

    svg {
        @include img-square(25px);
        @include flex-center;
        fill: $red;
        transform: rotate(90deg);
    }

}

.--margin {
    width: 100%;
    height: 100px;
    display: none;

    @media screen and(max-width: 1050px) {
        display: block;
        
    }
}

.floating-donate {
    width: 170px;
    @include flex-center;
    height: 50px;
    position: fixed;
    bottom: 20vh;
    z-index: 7;
    right: -63px;    background: $red;
    font-size: $L;
    color: white;
    transform: rotate(-90deg);
    display: none;
    box-shadow: -2px -1px 15px -3px rgba(0,0,0,0.48);
    -webkit-box-shadow: -2px -1px 15px -3px rgba(0,0,0,0.48);
    -moz-box-shadow: -2px -1px 15px -3px rgba(0,0,0,0.48);

    @media screen and (max-width: 1050px) {
        display: flex;
    }
}