.goals {
    width: 100%;
    height: 700px;
    overflow-x: hidden;
    @include flex-center;
    

    @media screen and(max-width: 1250px) {
        height: 500px;
    }

    @media screen and(max-width: 500px) {
        height: 200px;
    }

    .goals-bg {
        @include img;
        width: 150%;
        width: 150%;
        position: relative;
    }

    .goals-content {
        width: 90%;
        max-width: 1200px;
        height: 80%;
        @include flex(column,center);
        position: absolute;
        gap: 20px;
        
        transform: translateY(15%);
        z-index: 5;

        .goals__title {
            @include coursive-title(white, $XL);
            margin-left: 5%;
            align-self: flex-start;

            .goals__title-line {
                @include coursive-line(100%, white);
            }
        }

        .goals__description {
            width: 80%;
            color: white;
            font-size: 25px;
            margin: 10px 0;
            text-align: center;
            
        }


        .goals-content__cont-points {
            height: 80%;
            width: 90%;
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
            justify-content: center;
            align-items: center;
            .goals-content__point {
                width: 500px;
                display: flex;
                gap: 10px;
                img {
                    @include img-square(30px)
                }

                p {
                    color: white;
                    font-size: $S;
                    text-align: left;
                }
            }
        }
    }
}

// Media Querys // ---------------------
@media screen and(max-width: 1275px) {
    .goals {
        height: 800px;
          
        .goals-content {
            .goals-content__cont-point {
                height: 80%;
                width: 90%;
                min-width: 1025px;
                display: flex;
                flex-wrap: nowrap;
                gap: 20px;
               
                .goals-content__point {
                    width: 400px;
                    display: flex;
                   
                    gap: 10px;
                    img {
                        @include img-square(30px)
                    }
    
                    p {
                        color: white;
                        font-size: $S;
                    }
                }
            }
        }
    } 
}

@media screen and(max-width: 1050px) {
    .goals {
        height: 1000px;
        .goals-content {
            .goals-content__cont-point {
                height: 80%;
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                gap: 20px;
               
                .goals-content__point {
                    width: 350px;
                    display: flex;
                   
                    gap: 10px;
                    img {
                        @include img-square(20px)
                    }
    
                    p {
                        color: white;
                        font-size: $XS;
                    }
                }
            }
        }
    } 
}

@media screen and(max-width: 816px) {
    .goals {
        .goals-content {
            width: 100%;
            .goals-content__cont-point {
               
               
                .goals-content__point {
                  
                    img {
                    }
    
                    p {
                        color: white;
                        font-size: $XS;
                    }
                }
            }
        }
    } 
}

@media screen and(max-width: 720px) {
    .goals {
        .goals-content {
            width: 100%;

            .goals__title {
                justify-self: center;
                align-self: center;
                margin-left: none;
            }
            .goals-content__cont-point {
               @include flex(column, center);
               flex-wrap: nowrap;
               gap: 20px;
               
                .goals-content__point {
                    width: 70%;

                    img {
                    }
    
                    p {
                        color: white;
                        font-size: $XS;
                    }
                }
            }
        }
    } 
}

@media screen and(max-width: 456px) {
    .goals {
        height: 1200px;
        .goals-content {
            width: 100%;
            height: 95%;
            .goals__title {
                justify-self: center;
                align-self: center;
                margin-left: none;
            }
            .goals-content__cont-point {
               @include flex(column, center);
               flex-wrap: nowrap;
               margin-right: 10px;
               gap: 20px;
               
                .goals-content__point {
                    width: 80%;

                    img {
                    }
    
                    p {
                        color: white;
                        font-size: $XS;
                    }
                }
            }
        }
    } 
}