$red: #b31827;
$blue: 31376E;

// Fonts //
$font-blue: #252955;
$font-family-0: sans-serif;
$font-family-1: Poppins;

// $font-XL: 50px;
// $font-L: 30px;
// $font-M: 25px;
// $font-S: 20px;
// $font-XS: 16px;

$font-XL: 55px;
$font-L: 35px;
$font-M: 30px;
$font-S: 25px;
$font-XS: 18px;
