//Colors//
$red: #b31827;
$blue: 31376E;

// Fonts //
@font-face {
    font-family: 'Poppins Regular' ;
    src: url(../assets/FONTS/Poppins-Regular.otf);
}

@font-face {
    font-family: 'Segoescb';
    src: url(../assets/FONTS/segoescb.ttf);
}

$font-blue: #252955;
$font-family-0: Poppins Regular;
$font-family-1: Segoescb;



$XL: 50px;
$X: 40px;
$L: 30px;
$M: 20px;
$S: 20px;
$XS: 16px;
