//Colors//
$red: #CC1417;
$blue: 31376E;

//Color Test // 
$test-1: rgba(255, 0, 0, 0.432);
$test-2: rgba(0, 0, 255, 0.507);
$test-3: rgba(128, 128, 128, 0.404);
$test-4: rgba(0, 128, 0, 0.507);

// Fonts //
@font-face {
    font-family: 'Poppins Regular' ;
    src: url(../assets/FONTS/Poppins-Regular.otf);
}

@font-face {
    font-family: 'Segoescb';
    src: url(../assets/FONTS/segoescb.ttf);
}

$font-blue: #252955;
$font-family-0: Poppins Regular;
$font-family-1: Segoescb;



$XL: 50px;
$X: 40px;
$L: 30px;
$M: 20px;
$S: 20px;
$XS: 16px;
