@import './vars';
@import './mixins';
@import './components';
@import './nav';
@import './header';
@import './linees-between';
@import './about';
@import './goals';
@import './news';
@import './contact';
@import './footer';


html {
    scroll-behavior: smooth;
}

body {
    font-family: $font-family-0;
    min-width: 360px;
    max-width: 1920px;
}

p::selection {
    background: $red;
    color: white;
}

